@namespace SorceryClans3.Components.Pages.Dialogs
@inject IDialogService dialogService

<MudDialog>
    <DialogContent>
        <MudTable Items="Events">
            <HeaderContent>
                <MudTh>Client</MudTh>
                <MudTh>Team</MudTh>
                <MudTh>Reqs</MudTh>
                <MudTh>Stats</MudTh>
                <MudTh>Deadline</MudTh>
                <MudTh>Select</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>
                    @if (context.MissionToComplete is Mission mission)
                    {
                        <p>@mission.Client.CityName</p>
                    }
                    </MudTd>
                <MudTd>
                    @if (context.MissionToComplete is Mission mission)
                    {
                        <p>@mission.AttemptingTeam!.TeamName</p>
                    }
                </MudTd>
                <MudTd>
                    <MudStack>
                        <MudStack Row>
                            <p>Com:</p>
                            @if (context.MissionToComplete is Mission mission)
                            {
                                <p>@mission.CDisp</p>
                            }
                        </MudStack>
                        <MudStack Row>
                            <p>Sub:</p>
                            @if (context.MissionToComplete is Mission mission)
                            {
                                <p>@mission.SDisp</p>
                            }
                        </MudStack>
                    </MudStack>
                </MudTd>
                <MudTd>
                    <MudStack>
                        <MudStack Row>
                            <p>Com:</p>
                            @if (context.MissionToComplete is Mission mission)
                            {
                                <p>@mission.AttemptingTeam!.CScore</p>
                            }
                        </MudStack>
                        <MudStack Row>
                            <p>Sub:</p>
                            @if (context.MissionToComplete is Mission mission)
                            {
                                <p>@mission.AttemptingTeam!.SScore</p>
                            }
                        </MudStack>
                    </MudStack>
                </MudTd>
                <MudTd>@context.EventCompleted.ToString(Settings.DTFormat)</MudTd>
                <MudTd>
                    <MudIconButton Icon="@Icons.Material.TwoTone.AddCircle" Color="Color.Info" OnClick="() => Submit(context)" />
                </MudTd>
            </RowTemplate>
        </MudTable>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Variant="Variant.Filled" Color="Color.Info">Cancel</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = default!;
    [Parameter] public List<GameEvent> Events { get; set; } = [];
    [Parameter, EditorRequired] public GameSettings Settings { get; set; } = default!;
    protected override void OnInitialized()
    {

    }
    void Submit(GameEvent gameEvent)
    {
        MudDialog.Close(DialogResult.Ok(gameEvent));
    }
    void Cancel() => MudDialog.Close(DialogResult.Cancel());
}