@using SorceryClans3.Data.Abstractions
@namespace SorceryClans3.Components.Pages.Dialogs

<MudSimpleTable>
    <thead>
        <tr>
            <td>Name</td>
            <td>Power Level</td>
            <td>Combat</td>
            <td>Magic</td>
            <td>Subtlety</td>
            <td>Healing</td>
            @if (Soldier.IsLeading)
            {
                <td>Leadership</td>
            }
        </tr>
    </thead>
    <tbody>
        @if (Soldier != null)
        {
            <tr>
                <td>@Soldier.SoldierName</td>
                <td>@Soldier.PowerLevel</td>
                <td>@Soldier.Combat</td>
                <td>@Soldier.Magic</td>
                <td>@Soldier.Subtlety</td>
                <td>@Soldier.Heal</td>
                @if (Soldier.IsLeading)
                {
                    <td>
                        <MudIconButton OnClick="OpenDialog" Icon="@Icons.Material.TwoTone.RemoveRedEye" Color="Color.Info" />
                    </td>
                }
            </tr>
            <tr>
                <td colspan="3">
                    <MagicIcons Colors="Soldier.GetColors" />
                </td>
                <td colspan="3">
                    <HPInspector Soldier="Soldier" />
                </td>
            </tr>
        }
    </tbody>
</MudSimpleTable>

<MudDialog @bind-Visible="ViewLeaderDialog">
    <DialogContent>
        <LeadInspector Soldier="Soldier" />
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseDialog">Close</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [Parameter, EditorRequired] public Soldier Soldier { get; set; } = default!;
    private bool ViewLeaderDialog { get; set; } = false;
    private void OpenDialog()
    {
        ViewLeaderDialog = true;
    }
    private void CloseDialog()
    {
        ViewLeaderDialog = false;
    }
}